<div class="panel-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><strong>Письма (Всего: {{messages.total_items}})</strong> / {{inbox.name}}
            <span class="pull-right">
                <button type="button" data-toggle="modal" class="btn btn-primary btn-xs" data-target="#inboxModal">
                    <span class="glyphicon glyphicon-wrench"></span>
                    Настройки
                </button>
                <button type="button" class="btn btn-warning btn-xs" data-ng-click="truncateInbox()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Очистить
                </button>
            </span>
        </div>

        <div class="panel-body">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>От</th>
                <th>Кому</th>
                <th>Тема</th>
                <th>Время</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="message in messages.data">
                <td>{{message.id}}</td>
                <td>{{message.from_addr}}</td>
                <td>{{message.to_addr}}</td>
                <td>{{message.subject}}</td>
                <td>{{message.creation_date | date:'dd-MM-y H:mm'}}</
                <td><a href="#/{{inbox.id}}/message/{{message.id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <ul class="pagination">
            <li data-ng-repeat="page in [] | range:messages.total_pages" data-ng-class="{disabled: page==messages.page_number}">
              <a href="#/{{inbox.id}}?page={{page}}">{{page}}</a>
            </li>
          </ul>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="inboxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Настройки почтового ящика</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Название:</label>

                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="name" placeholder="Название" data-ng-model="inboxEdit.name">
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="" data-target="#plain" data-toggle="tab">SMTP</a></li>
                      <li><a href="" data-target="#django" data-toggle="tab">Django</a></li>
                      <li><a href="" data-target="#ror" data-toggle="tab">Ruby on Rails</a></li>
                      <li><a href="" data-target="#zend" data-toggle="tab">Zend Framework</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="plain">
                          <pre>Host: {{inbox.host}}<br />Port: {{inbox.port}}<br />Username: {{inbox.login}}<br />Password: {{inbox.password}}</pre>
                      </div>
                      <div class="tab-pane" id="django">
                        <pre>EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'<br />EMAIL_HOST = '{{inbox.host}}'<br />EMAIL_PORT = {{inbox.port}}<br />EMAIL_HOST_USER = '{{inbox.login}}'<br />EMAIL_HOST_PASSWORD = '{{inbox.password}}'<br />EMAIL_USE_TLS = False</pre>
                      </div>
                      <div class="tab-pane" id="ror">
                        <pre>config.action_mailer.delivery_method = :smtp<br />config.action_mailer.smtp_settings = {<br />  :user_name => '{{inbox.login}}',<br />  :password => '{{inbox.password}}',<br />  :address => '{{inbox.host}}',<br />  :port => '{{inbox.port}}',<br />  :authentication => :plain<br />}</pre>
                      </div>
                      <div class="tab-pane" id="zend">
                        <pre>$options = array(<br />  'auth'     => 'plain',<br />  'username' => '{{inbox.login}}',<br />  'password' => '{{inbox.password}}',<br />  'port' => {{inbox.port}}<br />);<br />$mailTransport = new Zend_Mail_Transport_Smtp(<br />  '{{inbox.host}}',<br />  $options<br />);<br />Zend_Mail::setDefaultTransport($mailTransport);</pre>
                      </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-ng-click="updateInbox()" data-dismiss="modal">Сохранить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
