<html>
  <head>
    <title>Mailflow</title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>Signin Template for Bootstrap</title>

	    <!-- Bootstrap core CSS -->
	    <link href="../static/styles/lib/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="./static/styles/signin.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->
  </head>
  <body>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
