<!doctype html>
<html lang="ru" ng-app="dashboard">
<head>
    <title>Mailflow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles/lib/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    {% block css %}{% endblock %}

    <!-- Custom js -->
    {% block js %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

{% if g.user.is_anonymous() %}
        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <a href="/reg"><button type="button" class="btn btn-success">Зарегистрироваться</button></a>
            <a href="/index"><button type="button" class="btn btn-primary">Войти</button></a>
          </div>
        </div><!--/.navbar-collapse -->      
{% else %}
      <div class="navbar-header">
          <div class="navbar-brand" href="#">{{g.user.email}}</div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard">Dashboard</a></li>            
          </ul>        
          <div class="navbar-form navbar-right">            
            <a href="/logout"><button type="button" class="btn btn-primary">Выйти</button></a>
          </div>
        </div><!--/.navbar-collapse -->
{% endif %}

    </div>
</div>

{% block content %}{% endblock %}
</body>
</html>
