<html>
<head>
    <title>Mailflow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles/lib/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    {% block css %}{% endblock %}

    <!-- Custom js -->
    {% block js %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
