{% extends "base.html" %}

{% block css %}
        <link href="../static/styles/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
{% if not user.is_anonymous() %}
    <p>{{ user.email }}</p>
    <a href="/logout">Выйти</a>
{% else %}
    <form class="form-signin" method="post" name="login">
        {{form.hidden_tag()}}
        <h2 class="form-signin-heading">Войти</h2>
        {{form.email (class="form-control", placeholder="Введите email" )}}
        {{form.password (class="form-control", placeholder="Введите пароль" )}}
        {% for error in form.errors.email %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}
        {% for error in form.errors.password %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}
        <p>{{form.remember_me}} Remember Me</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
        <br/>
        <a href="/reg">Регистрация</a>

    </form>
{% endif %}

</div> <!-- /container -->

{% endblock %}
