{% extends "base.html" %}

{% block css %}
        <link href="../static/styles/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

    <form class="form-signin" method="post" name="reg">
        {{form.hidden_tag()}}
        <h2 class="form-signin-heading">Регистрация</h2>
        Please enter your email:<br>{{form.email}}<br>
        {% for error in form.errors.email %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        Please enter your email:<br>{{form.password}}<br>
        {% for error in form.errors.password %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
        <br/>

    </form>

</div> <!-- /container -->

{% endblock %}
